<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Applicants</title>
</head>
<body>

    <div class="mx-auto text-center mt-5">
        <a href="/manager"><button type="button" class="btn btn-primary">Back to Manager Page</button></a>
    </div>

<table class="table w-50 mx-auto mb-5 mt-5">
    <tr>
        <th>Applicant Name</th>
        <th></th>
    </tr>
    <tr  th:each="app : ${applicants}">
        <td th:text="${app.getName()}"></td>
        <td>
            <a th:href="@{'/manager/applicants/'+${app.getId()}}"><button id="show" class="btn btn-primary" type="button" >Show Details</button></a>
            <a th:href="@{'/manager/applicants/delete/' + ${app.getId()}}"><button class="btn btn-primary" type="button" >Delete Applicant</button></a>
        </td>
    </tr>
</table>

<div class="w3-container">
    <div id="id01" class="w3-modal" th:unless="${detail == null}" style="display: block">
        <div class="w3-modal-content w3-animate-zoom">
            <div class="w3-container">
                <div class="text-right"><a href="/manager/applicants" ><span id="span" class="w3-button">&times;</span></a></div>
                <h3 class="font-weight-bold">Applicant Information</h3><br>
                <dl class="row">
                    <dt class="col-sm-3">Applicants ID:</dt>
                    <dd class="col-sm-9" th:text="${detail.getId()}"></dd>

                    <dt class="col-sm-3">Name:</dt>
                    <dd class="col-sm-9" th:text="${detail.getName()}"></dd>

                    <dt class="col-sm-3">Email:</dt>
                    <dd class="col-sm-9" th:text="${detail.getEmail()}"></dd>

                    <dt class="col-sm-3">Phone:</dt>
                    <dd class="col-sm-9" th:text="${detail.getPhone()}"></dd>

                    <dt class="col-sm-3">Address:</dt>
                    <dd class="col-sm-9" ><p th:text="${detail.getAddress()}"></p></dd>

                    <dt class="col-sm-3">Tought On Job:</dt>
                    <dd class="col-sm-9" ><p th:text="${detail.getTought()}"></p></dd>

                    <dt class="col-sm-3">Resume:</dt>
                    <dd class="col-sm-9" ><a th:href="'/manager/cv/'+${detail.getId()}" style="color:blue"target="_blank" th:text="${detail.getResumeName()}"></a></dd>
                </dl>
            </div>
        </div>

    </div>
</div>



</body>
</html>